﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BDU Registration System</title>

    <!-- <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <!-- <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment> -->


</head>
<body>

    <div class="container body-content">

        <div class="form-container justify-content-center shadow ">
            <form  method="post">
                <div class="form-group">
                    <h1>Login</h1>
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="email">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password"  placeholder="password"  class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary btn-block" asp-controller="Login" asp-action="LoginUser">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <style>

        h1 {
            text-align: center;
        }

        body {
            background-color: #e9e9e9 !important;
        }

        .form-container {
            border-radius: 20px;
            padding: 2% 5% 1% 5%;
            max-width: 80vh;
            margin: 20vh auto;
            font-family: 'Alata', sans-serif;
            background-color: white;
            justify-content: center;
            align-items: center;
        }
    </style>
</body>
</html>