﻿@model BduProject.Model.AbituriyentFile
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h5>Şəxsi Informasiya</h5>
                </th>
                <th>
                    <h5>Sənədlər</h5>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Abituriyent.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Abituriyent.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Abituriyent.Surname)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Abituriyent.Surname)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Abituriyent.Father)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Abituriyent.Father)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Abituriyent.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Abituriyent.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Abituriyent.FIN)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Abituriyent.FIN)
                        </dd>
                    </dl>
                </td>
                <td>
                    @foreach (var item in Model.Files)
                    {

                        <a  asp-action="Index" asp-controller="Files" asp-route-id="@item.Id" >@item.FileName</a>
                        <br />
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" asp-for="Abituriyent.Id" />
    @if (Model.Abituriyent.Status != "Completed" )
    {
        @if (Model.Abituriyent.Status == "LastStep" || Model.Abituriyent.TehsilNovu != "Imtiyazli")
        {
            <button type="submit" class="btn btn-success" asp-action="Finish" asp-controller="Tyutor" asp-route-id="@Model.Abituriyent.Id">Finish</button>
        }
        @if (Model.Abituriyent.Status != "LastStep" && Model.Abituriyent.TehsilNovu == "Imtiyazli" && Model.Abituriyent.Status != "InLawyer")
        {
            <button type="submit" class="btn btn-success" asp-action="ToLawyer" asp-controller="Tyutor" asp-route-id="@Model.Abituriyent.Id">Lawyere Yolla</button>
        }
        @if (Model.Abituriyent.Status == "InLawyer")
        {
            <p>Lawyer Gozlenilir...</p>
        }
        @if (Model.Abituriyent.Status != "InLawyer")
        {
            <button type="submit" class="btn btn-danger" asp-action="Reject" asp-controller="Tyutor" asp-route-id="@Model.Abituriyent.Id">Redd et</button>
        }
    }

    <style>
        html, body {
            height: 100%;
            background-color: #f5f5f5;
            font-family: 'Alata', sans-serif;
        }

        .form-container {
            border-radius: 20px;
            padding: 2% 2%;
            max-width: 70%;
            margin: 2% auto;
            background-color: white;
            justify-content: center;
            align-items: center;
        }
    </style>
</body>
</html>