﻿@model IEnumerable<BduProject.Model.Abituriyent>
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Table</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">


    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div style="padding-right:2%">
            <img class="profile-img" src="~/images/bsu.jpeg" />
        </div>

        <h2>@User.FindFirst("FakulteName").Value</h2>
    </nav>
    <div class="container shadow">

        <table id="table"
               data-toggle="table"
               data-show-pagination-switch="true"
               data-search-align="left"
               data-filter-control="true"
               data-show-export="true"
               data-click-to-select="true"
               data-toolbar="#toolbar"
               data-pagination="true"
               data-height="100vh">
            <thead>
                <tr>

                    <th data-field="ad" data-filter-control="input" data-sortable="true">Ad</th>
                    <th data-field="soyad" data-filter-control="input" data-sortable="true">Soyad</th>
                    <th data-field="ataAdı" data-filter-control="input" data-sortable="true">Ata adı</th>
                    <th data-field="fin" data-filter-control="input" data-sortable="true">Fin</th>
                    <th data-field="status" data-filter-control="select" data-sortable="true">Status</th>
                    <th data-field="details">Info</th>

                </tr>
            </thead>


            <tbody>

                @foreach (var item in Model)
                {
                    @if(item.Fakulte != User.FindFirst("FakulteName").Value)
                    {
                        continue;
                    }
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.Father</td>
                        <td>@item.FIN</td>
                        <td>
                            @if (item.Status == "" || item.Status == null || item.Status == "def")
                            {
                                <p>InProgress</p>
                            }
                            @if (@item.Status == "InLawyer")
                            {
                                <p style="color : red">InLawyer</p>
                            }
                            @if (@item.Status == "LastStep" && @item.TehsilNovu == "Imtiyazli")
                            {
                                <p style="color : yellow">LastStep</p>
                            }
                            @if (@item.Status == "Rejected")
                            {
                                <p style="color : red">Rejected</p>
                            }
                            @if (@item.Status == "Edit")
                            {
                                <p style="color : lime">Editting</p>
                            }
                            @if (@item.Status == "Completed")
                            {
                                <p style="color : green">Completed</p>
                            }
                            @if (@item.Status == "Accepted")
                            {
                                <p style="color : greenyellow">Accepted</p>
                            }
                        </td>
                        <td><a  asp-controller="Tyutor" asp-action="Details" asp-route-id="@item.Id"><button class="button btn-primary" style="color : white">Details</button></a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <style>
        .container {
            width: 100vw;
            /* padding: 1vw 1vh; */
            background-color: white;
            margin: 2% auto;
            justify-content: center;
            align-items: center;
        }

        .profile-img {
            width: 15vh;
            height: 15vh;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        body {
            font-family: 'Nunito', sans-serif;
            background-color: #e9e9e9;
        }

        a:link {
            text-decoration: none;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>



</body>
</html>
