﻿<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>



    <div>

        <div class="profile-header">
            <div class="profile-img">
                <img src="~/images/bsu.jpeg" width="100" alt="Profile Image">
            </div>
            <div class="profile-nav-info">
                <h3 class="user-name">Bakı Dövlət Universiteti</h3>
                <div class="address">
                    <span id="country" class="country">Azərbaycan</span>
                </div>
            </div>
        </div>

        <div class="main-bd">
            <div class="left-side">
                <div class="profile-side">
                    <div class="user-bio">
                        <p class="bio">
                            <h3>Təlimat</h3>
                        <p>Qeydiyyatı uğurlu tamamlamaq üçün aşağıdakı düyməyə basıb təlimat videosuna baxmaq məqsədəuyğundur.</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info btn-block  video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/s-2SZeaiLs8" data-target="#myModal">
                            Təlimat videosu
                        </button>
                       
                    </div>
                </div>
            </div>

            <div class="right-side">
                <div class="nav">
                    <ul>
                        <li onclick="tabs(0)" class="user-post active">Qeydiyyat</li>
                        <li onclick="tabs(1)" class="user-review">Əlaqə</li>
                    </ul>
                </div>
                <div class="profile-body">
                    <div class="profile-posts tab" style="padding-left:20vw;padding-right:20vw;margin:auto auto;">


                        <h2 style='margin: 20px auto ;color:white;text-align: center;'>Qeydiyyatdan keçmək üçün aşağıdakı düyməyə klikləyin</h2>

                        <div class="form-group">
                            <form >
                               <button type="submit" class=" btn btn-block btn-outline-light" asp-controller="Abituriyent" asp-action="Index"><h5>Qeydiyyat</h5></button>
                         </form>
                        </div>
                    </div>




                    <div class="profile-reviews tab" style='padding-left:20vw;padding-right:20vw;margin:auto auto;color:white'>
                        <h2 style='text-align: center;'>Əlaqə</h2>
                       
                            <b>Ünvan: </b>Akademik Zahid Xəlilov küçəsi - 23<br>
                            <b>Indeks: </b>AZ 1148<br>
                            Bakı şəhəri, AZ-1073/1<br>
                            Azərbaycan Respublikası<br>
                            <b>Tel.: </b>(012) 539 08 58, (012) 539 05 17<br>
                            <b>Faks: </b>(012) 598 33 76<br>
                            <!-- <b>E-mail: </b></h5> -->
                            <a href="mailto: info@bsu.edu.az">Email göndərin</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="container">






        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">


                    <div class="modal-body">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>


                    </div>

                </div>
            </div>
        </div>



    </div>




    <script>

       $(".nav ul li").click(function() {
  $(this)
    .addClass("active")
    .siblings()
    .removeClass("active");
});

const tabBtn = document.querySelectorAll(".nav ul li");
const tab = document.querySelectorAll(".tab");

function tabs(panelIndex) {
  tab.forEach(function(node) {
    node.style.display = "none";
  });
  tab[panelIndex].style.display = "block";
}
tabs(0);

    </script>

    <style>

       @@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #020b44;
  overflow-x: hidden;
  height: 100%;
  padding:2% 2% 2% 2%;
  font-family: 'Alata', sans-serif;

}

.profile-header {
  background: #fff;
  width: 100%;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  float: left;
  width: 340px;
  height: 200px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 5px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.profile-nav-info h3 {
  font-size: 2rem;
  font-weight: bold;
}

.profile-nav-info .address {
  display: flex;
  color: #777;
}



.main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}

.profile-side {
  width: 300px;
  height: 100%;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;

  margin-left: 10px;
  z-index: 99;
}

.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}


.nav {
  width: 100%;
  z-index: 7;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.nav ul li:hover,
.nav ul li.active {
  box-shadow: 0px -3px 0px rgba(288, 0, 70, 0.9) inset;
}

.profile-body {
  width: 100%;
  z-index: -1;
}

.tab {
  display: none;
}

.tab {
  padding-left:2%;
  padding-right:2%;
  width: 100%;

}

@@media (max-width: 1100px) {
  .profile-side {
    width: 250px;
    padding: 90px 15px 20px;
  }

  .profile-img img {
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
  }
}

@@media (max-width: 900px) {
  body {
    margin: 0 20px;
  }

  .profile-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }

  .profile-img {
    float: left;
    width: 100%;
    height: 200px;
  }

  .profile-img img {
    position: relative;
    height: 200px;
    width: 200px;
    left: 0px;
  }

  .profile-nav-info {
    text-align: center;

  }

  .profile-option {
    right: 20px;
    top: 75%;
    transform: translateY(50%);
  }

  .main-bd {
    flex-direction: column;
    padding-right: 0;
  }

  .profile-side {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5px 0;
  }

  .profile-nav-info .address {
    justify-content: center;
  }


}




  .profile-option {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 83%;
  }



.tab h1 {

  display: flex;
  justify-content: center;
  margin: 20px auto;
}

    </style>

    <script>
      $(document).ready(function() {
var $videoSrc;
$('.video-btn').click(function() {
    $videoSrc = $(this).data( "src" );
});
console.log($videoSrc);

$('#myModal').on('shown.bs.modal', function (e) {

$("#video").attr('src',$videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0" );
})
$('#myModal').on('hide.bs.modal', function (e) {
    $("#video").attr('src',$videoSrc);
})

});
    </script>
</body>
</html>

