﻿<!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>



<body>

    <form class=" form-container needs-validation shadow" novalidate method="post" >
        <img class="mb-4 profile-img" src="~/images/bsu.jpeg" alt="" />
        <h1 class="h3 mb-3 font-weight-normal" style="text-align:center;">Daxil olun</h1>
        <h5 style="color : red">@TempData["err"]</h5>
        <div class="form-group">
            <label for="name" class="sr-only">Ad</label>
            <input type="text" id="name" class="form-control" placeholder="Ad" name="name"  autofocus />
            <div class="invalid-feedback">Adınızı qeyd etməyi unutmayın</div>
        </div>
        <div class="form-group">
            <label for="surname" class="sr-only">Soyad</label>
            <input type="text" id="surname" class="form-control" placeholder="Soyad" name="surname"  autofocus />
            <div class="invalid-feedback">Soyadınızı qeyd etməyi unutmayın</div>
        </div>
        <div class="form-group">
            <label for="jobNumber" class="sr-only">İş nömrəsi</label>
            <input minlength="5" maxlength="13" type='text' onkeypress='validate(event)' type="number" name="isnomresi" id="jobNumber" class="form-control" placeholder="İş nömrəsi"  />
            <div class="invalid-feedback">İş nömrənizi qeyd etməyi unutmayın</div>

        </div>

        <button class="btn btn-lg btn-outline-primary btn-block" type="submit" asp-controller="Login" asp-action="LoginAbituriyent">Davam</button>

    </form>

    <script>

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();


        function validate(evt) {
            var theEvent = evt || window.event;

            // Handle paste
            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                // Handle key press
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }

    </script>


    <style>
        .profile-img {
            width: 15vh;
            height: 15vh;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        html,
        body {
            height: 100%;
            background-color: #e9e9e9;
        }

        .form-container {
            font-family: 'Alata', sans-serif;
            border-radius: 20px;
            padding: 2%;
            width: 70%;
            max-width: 75vh;
            background-color: rgb(255, 255, 255);
            justify-content: center;
            align-items: center;
        }

        body {
            text-align: none;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            background-blend-mode: screen;
            background-repeat: no-repeat;
            background-size: auto;
        }
    </style>
</body>
</html>



