﻿<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <style>
        body {
            text-align: center;
            padding: 40px 0;
            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
            background: #e9e9e9;
        }

        h1 {
            color: #88B04B;
            font-weight: 900;
            font-size: 40px;
            margin-bottom: 10px;
        }

        p {
            color: #404F5E;
            font-size: 20px;
            margin: 0;
        }

        i {
            color: #9ABC66;
            font-size: 100px;
            line-height: 200px;
            margin-left: -15px;
        }

        .card {
            background: white;
            padding: 60px;
            border-radius: 4px;
            display: inline-block;
            margin: 0 auto;
        }
    </style>
    <div class="card shadow">
        <div class='shadow' style="border-radius:200px; height:200px; width:200px; background: white; margin:5% auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Təbriklər!</h1>
        <p>Qeydiyyatı uğurla başa vurdunuz.<br /></p>
    </div>
</body>
</html>